<% title "I BUY MARKLIN", false %>
<% content_for :description, "I'm always buying quality Marklin toys from estates, auctions, individuals, and collectors around the world.  I also will do a free appraisal and evaluation on any Marklin toy!" %>

<div class="content" id="we_buy">
 <div class="learn-about-box">
    <h2>You can learn about</h2>
      <ul>
        <li>production dates</li>
        <li>gauges, scales, sizes</li>
        <li>selling methods, trusted dealers</li>
        <li>maintenance and care</li>
        <li>restoration professionals</li>
        <li>approximate market values</li>  
      </ul>
      <div class="contact-me-link">
        <%= link_to "Contact Me Now", feedback_path %>
      </div>
  </div>
  <h1 class="fancy">I'm buying up quality Marklin! <span id="subtle">and professionally evaluate Marklin toys and trains<span></h1>
  <div id="left-content">
  <p>
  I've bought hundreds, maybe thousands, of Marklin toys in my years of collecting and I'm always finding new rarities from estates, auctions, individuals, and collectors around the world.  If you have a Marklin toy or train or even an entire collection, I would be happy to get in contact with you and help you in any way possible.  
  </p>
  <br><br>
  <div class="quote-container">
        <table class="quote-box">
         <tr>
          <td valign="top">
            <img src="/assets/00-marklin-SK.JPG">
            <div class="quote-reference">
                <div id="name">Jean B.</div>
                <div id="location">France</div>
            </div>
          </td>         
          <td valign="top">
            <div class="quote">
            Many thanks for your recommendation on my 00-Marklin collection.  
            </div>
          </td>
         </tr>        
        </table>
        <table class="quote-box">
         <tr>
          <td valign="top">
            <img src="/assets/st800b.jpg">
            <div class="quote-reference">
                <div id="name">Daniel L.</div>
                <div id="location">United States</div>
            </div>
          </td>         
          <td valign="top">           
            <div class="quote">
            Your evaluation helped us very much with my father's Marklin collection.  Thank you!
            </div>
           </div>
          </td>
         </tr>        
        </table>       
      <div style="clear:both;"></div>
  </div><!-- End quote container --!> 
  <div style="clear:both;"></div>
  <br><br>
  <p>
  Since I am a hobbyist and collector, without a storefront, a sales team, or a budget, I will answer your questions personally and candidly.  I look forward to seeing some great Marklin toys!  
  </p>
  <br/>
  <div align="center">
      <div class="contact-me-link">
            <%= link_to "Request Marklin Evaluation / Contact Me", feedback_path %>
      </div>
  </div>
  </div> 
</div>
