<% title "I Buy Marklin", false %>
<% content_for :description, "I'm always buying quality Marklin toys from estates, auctions, individuals, and collectors around the world.  I also will do a free appraisal and evaluation on any Marklin toy!" %>

<div class="content" id="we_buy">
 <div class="learn-about-box">
    <h2>You can learn about</h2>
      <ul>
        <li>production dates</li>
        <li>gauges, scales, sizes</li>
        <li>selling methods, trusted dealers</li>
        <li>maintenance and care</li>
        <li>restoration professionals</li>
        <li>approximate market values</li>  
      </ul>
      <div class="contact-me-link">
        <%= link_to "Contact Me Now", feedback_path %>
      </div>
  </div>
  <h1 class="fancy">I'm buying up quality Marklin! <span id="subtle">and can help you with your Marklin toys<span></h1>
  <div id="left-content">
  <p>
  I've bought hundreds, maybe thousands, of Marklin toys in my years of collecting and I'm always finding new rarities from estates, auctions, individuals, and collectors around the world.  If you have a Marklin toy or train or even an entire collection, I would be happy to get in contact with you and help you in any way possible.  
  </p>
  <br><br>
  <div class="quote-container">
        <table class="quote-box">
         <tr>
          <td valign="top">
            <img src="http://s3.amazonaws.com/ms_development_episode_icons/4/normal_IMG_3514.JPG?1358005565">
            <div class="quote-reference">
                <div id="name">Dummy Pers</div>
                <div id="location">The Netherlands</div>
            </div>
          </td>         
          <td valign="top">
            <div class="quote">
            Lorem ipsum daelum text here. Lorem ipsum daelum text here. Lorem ipsum daelum text here. 
            </div>
          </td>
         </tr>        
        </table>
        <table class="quote-box">
         <tr>
          <td valign="top">
            <img src="http://s3.amazonaws.com/ms_development_episode_icons/4/normal_IMG_3514.JPG?1358005565">
            <div class="quote-reference">
                <div id="name">Dummy Pers</div>
                <div id="location">United States</div>
            </div>
          </td>         
          <td valign="top">           
            <div class="quote">
            Lorem ipsum daelum text here please. Lorem ipsum daelum text here. Lorem ipsum daelum text here. 
            </div>
           </div>
          </td>
         </tr>        
        </table>       
      <div style="clear:both;"></div>
  </div><!-- End quote container --!> 
  <div style="clear:both;"></div>
  <br><br>
  <p>
  Since I am a hobbyist and collector, without a storefront, a sales team, or a budget, I will answer your questions personally and candidly.  This is my hobby, not my business.  I look forward to seeing some great Marklin toys!  
  </p>
  </div>
 
</div>
